.bg {
  background:linear-gradient(to right, rgb(12, 12, 12), rgb(43, 2, 39));
}

.navbar {
  background-color:white;
  font-size: 20px;
  margin-bottom: 0;
  border: none;
  border-bottom: 1px solid white;
}
.logo {
  margin-top: 12%;
}
.collapse {
  margin-top: 2%;
}
.container-fluid {
  margin-bottom: 20px;
}
.search-bar {
  margin-left: 15%;
  display: inline;
}
/*input*/
.form-control {
  display: inline;
  width: 20%;
}
#search-input {
  border: none;
}
.nav {
  margin-right: 15%;
}
#premium {
  font-size: 20px;
  border-radius: 20px;
  border: 1px solid white;
}
li.glyphicon {
  margin-left: 3%;
  
}

.bell {
  position: relative;
  left: 40px;
  margin-top: 6px;
}
.usuario {
  margin-left: 35px;
  margin-top: -7%;
}

/* Tiny Carousel */
.slider {
  width: 631px;
}
#slider1 {
  height: 1%;
  margin: 30px 0 0;
  overflow: hidden;
  position: relative;
  padding: 0 50px 10px;
}

#slider1 .viewport {
  height: 343px;
  overflow: hidden;
  position: relative;
}

#slider1 .buttons {
  background:linear-gradient(to right, rgb(12, 12, 12), rgb(43, 2, 39));
  border-radius: 35px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 35px;
  height: 35px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 35px;
  text-decoration: none;
  font-size: 22px;
}

#slider1 .next {
  right: 0;
  left: auto;
  top: 50%;
}

#slider1 .buttons:hover {
  color: #C01313;
  background: #fff;
}

#slider1 .disable {
  visibility: hidden;
}

#slider1 .overview {
  list-style: none;
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
}

#slider1 .overview li {
  float: left;
  border: 1px solid #050000;
}
/* Tiny Carousel 2 */
.slider2 {
  height: 1%;
  overflow: hidden;
  position: relative;
  padding: 0 50px 10px;
}

.slider2 .viewport {
  height: 230px;
  overflow: hidden;
  position: relative;
}

.slider2 .buttons {
  background:linear-gradient(to right, rgb(12, 12, 12), rgb(43, 2, 39));
  border-radius: 35px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 35px;
  height: 35px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 35px;
  text-decoration: none;
  font-size: 22px;
}

.slider2 .next {
  right: 0;
  left: auto;
  top: 50%;
}

.slider2 .buttons:hover {
  color: #C01313;
  background: #fff;
}

.slider2 .disable {
  visibility: hidden;
}

.slider2 .overview {
  list-style: none;
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
}

.slider2 .overview li {
  float: left;
  border: 1px solid #050000;
  width: 250px;
}
.slide2 {
  width: 250px;
  height: 250px;
}
h2 {
  margin: 4%;
}



