/* navbar*/
header {
  height: 80px;
}
.container-fluid {
  margin-bottom: 20px;
}
.logo {
  padding: 10px;
}
span.input-group-addon.none {
  background: none;
  color: white;
  border: 1px solid white;
}

.black {
  color: black;
}

#inputGroups {
  border: 1px solid white;
}

.btn {
  margin: 10px;
  border-radius: 14%;
  border: 1px solid white;
}

.circle {
  height: 50px;
  width: 50px;
  border: 1px solid white;
  /* margin: 10px; */
  border-radius: 50%;
}

.menu {
  padding: 2px 40px;
  padding-top: 8px;
  background: linear-gradient(to right , rgb(100, 66, 82),rgb(31, 5, 37), rgb(2, 9, 31));
  
}

/* Tiny Carousel */
.slider {
  width: 631px;
}
#slider1 {
  height: 1%;
  margin: 30px 0 0;
  overflow: hidden;
  position: relative;
  padding: 0 50px 10px;
}

#slider1 .viewport {
  height: 343px;
  overflow: hidden;
  position: relative;
}

#slider1 .buttons {
  background:linear-gradient(to right, rgb(12, 12, 12), rgb(43, 2, 39));
  border-radius: 35px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 35px;
  height: 35px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 35px;
  text-decoration: none;
  font-size: 22px;
}

#slider1 .next {
  right: 0;
  left: auto;
  top: 50%;
}

#slider1 .buttons:hover {
  color: #C01313;
  background: #fff;
}

#slider1 .disable {
  visibility: hidden;
}

#slider1 .overview {
  list-style: none;
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
}

#slider1 .overview li {
  float: left;
  border: 1px solid #050000;
}

/* Tiny Carousel 2 y 3*/
.slider2 {
  height: 1%;
  overflow: hidden;
  position: relative;
  padding: 0 50px 10px;
}

.slider2 .viewport {
  height: 230px;
  overflow: hidden;
  position: relative;
  width: 97%;
}

.slider2 .buttons {
  background:linear-gradient(to right, rgb(12, 12, 12), rgb(43, 2, 39));
  border-radius: 35px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 35px;
  height: 35px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 35px;
  text-decoration: none;
  font-size: 22px;
}

.slider2 .next {
  right: 0;
  left: auto;
  top: 50%;
}

.slider2 .buttons:hover {
  color: #C01313;
  background: #fff;
}

.slider2 .disable {
  visibility: hidden;
}

.slider2 .overview {
  list-style: none;
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
}

.slider2 .overview li {
  float: left;
  border: 1px solid #050000;
  width: 250px;
}
.slide2 {
  width: 250px;
  height: 250px;
}
@media (min-width:920px) { 
  .slider2 .viewport {
    height: 230px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
}
.title {
  margin: 4%;
  font-size: 24px;
}

/* css de search  container*/

#container-peliculas {
  margin: 20px 20px;
}
/* 
.movie-click {
  float: left;
  margin-left: 30px;
  height: 60vh;
  
} */

h2 {
  font-size: 24px;
  text-align: center;
  width: 180px;
}
.movie-click img {
  width: 180px;
  height: 270px;
  cursor: pointer;
}


/* estilos de menu de lista de generos */
.contenedor{
  width:100%;
  position: relative;
}

#slideIzq{
  position: absolute;
  z-index: 99999;
  padding-left: 14px;
  background: linear-gradient(to bottom , rgb(100, 66, 82)10%, rgba(2, 11, 36, 0.966));
  top: 63px;
  left:0;  /*se oculta por la izquierda*/
  /*right: 0;  se oculta por la derecha */
}

@media (min-width:920px) { 
  #slideIzq {
    width: 20%;
    top: 70px;
  }
}
li.col-md-12 {
  list-style: none;
}

a.genero-movie {
  color: white;
  font-weight: 700;
}

a.genero-movie:hover {
  color: rgba(240, 53, 53, 0.589);
  font-size: 24px;
}
.hiden {
  display: none;
}

.slide-profile, .add-favorito {
  position: absolute;
  right:0;
  top: 80px;
  background: rgb(255, 255, 255);
  z-index: 99999;
  color: #050505;
  width: 25%;
  padding:16px;
  word-wrap: break-word;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: 1px solid rgba(0, 0, 0, 0.23);
}

.red {
  color: red;
}

.border {
  border-radius: 10px !important;
}

/* estilos de comentarios */
.border-post{
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding: 1em;
  word-wrap: break-word;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 10px;
  text-align: left;
  border-radius: 10px;
  color: black;
}

/* estilo de primer crrusel */
.media{
  width:50%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.carousel  {
 margin: 30px;
 border-radius: 10px;
}
.carousel-inner {
  height: 189px;
}
.carousel-inner>.item>img {
  height: 195px;
}

/* modificando videos de mobile */
.video {
  width: 321px;
  height: 250px;
}

h2.title-video {
  margin-left: 58px;
}


@media (min-width:920px) { 
  .carousel-inner {
    height: auto;
  }
  .carousel-inner>.item>img{
    height: auto;
  }

  h2.title-video {
    position: relative;
    padding-left: 15px;
    margin-bottom: 3rem;
  }
  .video {
    width: 520px;
    height: 300px;
    
  }
 /* footer */
  .center1 {
    margin-left: 35%;
    display: inline-flex;
  }
  
}

.center {
  text-align: center;
}



