/******* estilos del log-in *********/
.white {
  color: white;
}

.container-flex-column-log {
  display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em;
}

.vh100-log {
  height: 100vh;
}

.weight {
  font-weight: 700;
}

.bg-log {
  background-image: url('../assets/images/fon1.jpg');
  background-size: cover;
  font-size: 16px;
  width: 100%;
  height: 100vh;
}

.nav-tabs>li.active>a {
  background-color: rgba(17, 16, 16, 0.788);
  color: white;
}
.tab-size {
  width: 70%;
  border-radius: 10px;
  background: rgba(7, 0, 6, 0.575);
}

.btn-log {
  background: linear-gradient(to bottom right, rgb(170, 18, 26) 10%, rgb(37, 50, 158));
  border: white;
  font-size: 18px;
  padding: 7px;
  width: 100%;
}

.img-log {
  width: 60px;
}

@media (min-width: 970px) {
  .tab-size {
    width: 40%;
  }
}
/********** fin de estilos logIn ***********/
