/******* estilos del log-in *********/
.white {
  color: white;
}

.container-flex-column-log {
  display: flex;
	flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
	
}

.vh100-log {
  height: 100vh;
}

.weight {
  font-weight: 700;
}

.bg-log {
  background-image:url(../assets/images/fondo5.jpg);
  background-size: cover;
  font-size: 16px;
  width: 100%;
  height: 100vh;
}

.nav-tabs>li.active>a {
  background-color: rgba(17, 16, 16, 0.788);
  color: white;
}
.tab-size {
  width: 90%;
  border-radius: 10px;
  background: rgba(7, 0, 6, 0.575);
}
@media (min-width:920px) { 
  .tab-size {
    width: 30%;
    border-radius: 10px;
    background: rgba(7, 0, 6, 0.575);
  }
  .name-register {
    margin-bottom: 14px;
  }
  
}

.btn-log {
  background: linear-gradient(to bottom right, rgb(170, 18, 26) 10%, rgb(37, 50, 158));
  border: white;
  font-size: 18px;
  padding: 7px;
  width: 100%;
}

.img-log {
  width: 60px;
}

.left {
  float: right;
  position: absolute;
  left: 18%;

}

.logito {
  width: 180px;
}

/********** fin de estilos logIn ***********/

/* footer*/
.white {
  font-size: 14px;
  
}