body {
  font-family: 'Rationale', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
  color: #fff;
  padding: 0px;
  box-sizing: border-box;
}

.container-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  height: 100vh;
}

.scroll {
  overflow-y: hidden;
}

.logo {
  padding: 10px;
}

.background-1 {
  background-image: url(../assets/images/fondo5.jpg);
  background-size: cover;
  /* height: 100vh; */
  background-position: center top;
  background-repeat: no-repeat;
}

.overlay {
  background: rgba(2, 14, 26, 0.575);
  height: fit-content;
}

.transparent {
  background: transparent;
  margin: 0px;
}

.white {
  color: white;
}

span.input-group-addon.none {
  background: none;
  color: white;
  border: 1px solid white;
}

.black {
  color: black;
}

#inputGroups {
  border: 1px solid white;
}

.btn {
  margin: 10px;
  border-radius: 14%;
  border: 1px solid white;
}

.circle {
  height: 50px;
  width: 50px;
  border: 1px solid white;
  /* margin: 10px; */
  border-radius: 50%;
}

.menu {
  padding: 2px 40px;
  padding-top: 8px;
  background: linear-gradient(to right, rgb(94, 61, 77)50%, rgb(31, 5, 37), rgb(2, 9, 31));
}

.info {
  text-align: justify;
  margin-top: 20px;
}
@media (min-width:920px) { 
 
  .info {
    padding: 65px;
    
  }
}

.tabs {
  /* background-color: red; */
  position: relative;
  /* top: 300px; */
  height: fit-content;
}

.local-menu {
  display: inline-flex;
  font-size: 18px;
  list-style: none;
  bottom: 27px;
  padding: 40px 5px;
  font-weight: 900;
  position: relative;
}

.filters {
  color: white;
  text-transform: uppercase;
  margin: 10px;
  padding: 10px;
}

#plot-movie {
  font-size: 15px;
}

.portada {
  margin-top: 10%;
  margin-left: 22%;
}
@media (min-width:920px) { 
  .portada {
    margin-left: 7%;
  }
}

.movie-single-actor img {
  border-radius: 100%;
  padding: 7px;
}

li a {
  list-style: none;
  background-color: transparent !important;
}

.d-none {
  display: none;
}

.d-block {
  display: block!important;
}

.navbar-nav>li>a {
  padding-bottom: 0px;
  padding-top: 5px;
}

h2 {
  font-size: 15px;
}

a:hover {
  color: #b483c9;
  text-decoration: none;
}

.btn:hover {
  color: #b483c9;
}

#inputGroups {
  color: white;
}

p {
  font-size: 16px;
}

#input-respuestas {
  position: absolute;
  left: 27%;
  top: 34px;
  z-index: 999;
  background: linear-gradient(to right, rgb(94, 61, 77)50%, rgb(31, 5, 37), rgb(2, 9, 31));
  /* padding: 22px; */
}
.movie-click-main {
  padding: 5px 20px;
  transition: 0.2s;
  float: left;
  margin-left: 30px;
  height: 60vh;
}
.movie-click-main:hover {
  background-color: white;
  color: black;
  margin: 0px;
  height: fit-content;
}

.movie-click-main h3 {
  margin: 0px;
  font-size: 14px;
}

/* estilo de comentarios */
.user-img {
  width: 50px !important;
}
