body {
  font-family: 'Rationale', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
  color: #fff;
  padding: 0px;
  box-sizing: border-box;
}

.vh100 {
  /* background: linear-gradient(to top right, rgb(0, 0, 0) 50%, rgb(63, 17, 116)); */
  /* background-image: linear-gradient(to top right,#080513,#3f1175);
  opacity: .9; */
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -webkit-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%, #080513 100%);
  /* background: -webkit-linear-gradient(-45deg, #000000 0%,#000000 25%,#1e539e 50%,#ff3083 75%,#7800a8 100%); /* Chrome10-25,Safari5.1-6 */
  /* background: linear-gradient(135deg, #000000 0%,#000000 25%,#1e539e 50%,#ff3083 75%,#7800a8 100%); */
}

.container-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  height: 100vh;
}

.scroll {
  overflow-y: hidden;
}

.logo {
  padding: 10px;
}

.background-1 {
  background-image:url(../assets/images/fondo5.jpg);
  background-size: cover;
  /* height: 100vh; */
  background-position: center top;
  background-repeat: no-repeat;
}

.overlay {
  background: rgba(20, 1, 16, 0.466);
  height: fit-content;
}

.transparent {
  background: transparent;
  margin: 0px;
}

.white {
  color: white;
}

span.input-group-addon.none {
  background: none;
  color: white;
  border: 1px solid white;
}

.black {
  color: black;
}

#inputGroups {
  border: 1px solid white;
}

.btn {
  margin: 10px;
  border-radius: 14%;
  border: 1px solid white;
}

.circle {
  height: 50px;
  width: 50px;
  border: 1px solid white;
  /* margin: 10px; */
  border-radius: 50%;
}

.menu {
  padding: 2px 40px;
  padding-top: 8px;
  background: linear-gradient(to right , rgb(94, 61, 77)50%,rgb(31, 5, 37), rgb(2, 9, 31));
}

.info {
  padding: 65px;
  margin-top: 22px;
}

.tabs {
  /* background-color: red; */
  position: relative;
  /* top: 300px; */
  height: fit-content;
}

.local-menu {
  display: inline-flex;
  font-size: 21px;
  list-style: none;
  bottom: 27px;
  padding: 40px 5px;
  font-weight: 900;
  position: relative;
}

.filters {
  color: white;
  text-transform: uppercase;
  margin: 10px;
  padding: 10px;
}

#plot-movie {
  font-size: 16px;
}

.portada {
  margin-top: 10%;
}

.movie-single-actor img {
  border-radius: 100%;
  padding: 7px;
}

li {
  list-style: none;
}

.d-none{
  display: none;
}
.d-block {
  display: block!important;
}

.navbar-nav>li>a {
  padding-bottom: 0px;
  padding-top: 5px;
}

h2 {
  font-size: 15pt;
}
