<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="../css/main.css">
  <title>Cinefilia</title>
</head>
<body class="bg-log container-flex-column-log vh100-log weight">
  <!-- Nav tabs -->
  <div class="tab-size ">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a class="white" href="#log-in" aria-controls="home" role="tab" data-toggle="tab">LOG IN</a></li>
      <li role="presentation"><a class="white" href="#register" aria-controls="profile" role="tab" data-toggle="tab">REGISTER</a></li>        
    </ul> 
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="log-in">
        <form class="container-flex-column-log text-center ">
          <div class="form-group">
            <input type="email" class="email-login form-control"  placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" class="password-login form-control"  placeholder="Password">
          </div>
          <br><br>
          <a href="home/index.html"><button type="button" class="btn-login btn btn-success btn-log" disabled>LOG IN</button></a> 
          <br>
          <div class="form-group">
            <a href="#" class="btn-google"><img src="../assets/images/gmail.png"  alt="gmail" class="img-log"></a> 
            <a href="#" class="btn-facebook"><img src="../assets/images/face.png" alt="face" class="img-log"></a>  
          </div>
        </form>
      </div>
      <div role="tabpanel" class="tab-pane" id="register">
        <form class="container-flex-column-log text-center ">
          <div class="form-group">
            <input type="name" class="name-register col-md-6 form-control"  placeholder="name">
          </div>
          <div class="form-group">
            <input type="email" class="email-register form-control"  placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" class="password-register form-control"  placeholder="Password">
          </div>
          <br><br>
          <button type="button" class="btn-register btn btn-success btn-log" disabled>REGISTER</button>
        </form>
      </div>
    </div>
  </div>
  <div id="contenido">
  </div>
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
  <script src="../js/login.js"></script>
</body>
</html>