<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Rationale" rel="stylesheet">
  <link rel="stylesheet" href="../../assets/icons/font-awesome/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/main.css">
  <title>Search</title>
</head>
<body>
  <h1>Hola mundo</h1>
  <aside>
  <ul class="col-md-6">
    <li class=""><a href="" class="genero-movie" id="28">Acción</a></li>
    <li class=""><a href="" class="genero-movie" id="12">Aventura</a></li>
    <li class=""><a href="" class="genero-movie" id="16">Animación</a></li>
    <li class=""><a href="" class="genero-movie" id="35">Comedia</a></li>
    <li class=""><a href="" class="genero-movie" id="80">Crimen</a></li>
    <li class=""><a href="" class="genero-movie" id="99">Documental</a></li>
    <li class=""><a href="" class="genero-movie" id="18">Drama</a></li>
    <li class=""><a href="" class="genero-movie" id="10751">Familiar</a></li>
    <li class=""><a href="" class="genero-movie" id="14">Fantasía</a></li>
    <li class=""><a href="" class="genero-movie" id="36">Historia</a></li>
    <li class=""><a href="" class="genero-movie" id="27">Terror</a></li>
    <li class=""><a href="" class="genero-movie" id="10402">Música</a></li>
    <li class=""><a href="" class="genero-movie" id="9648">Misterio</a></li>
    <li class=""><a href="" class="genero-movie" id="10749">Romance</a></li>
    <li class=""><a href="" class="genero-movie" id="878">Ciencia Ficción</a></li>
    <li class=""><a href="" class="genero-movie" id="10770">Series</a></li>
    <li class=""><a href="" class="genero-movie" id="53">Suspenso</a></li>
    <li class=""><a href="" class="genero-movie" id="10752">Guerra</a></li>
    <li class=""><a href="" class="genero-movie" id="37">Western</a></li>
  </ul>
</aside>
  <div id="container-peliculas">
    
  </div>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="../../js/app.js"></script>
</body>
</html>