<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Rationale" rel="stylesheet">
  <link rel="stylesheet" href="../../assets/icons/font-awesome/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/main.css">
  <title>Perfil</title>
</head>

<body class="background-1">
<div class="overlay">

  <div class="container-fluid">
    <div class="row">
      <header>
        <nav class="navbar navbar-fixed-top transparent">
          <div class="container-fluid menu navbar-fixed">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed hamburguer" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
              <a href="../discover/index.html">
            <i class="fa fa-bars white" aria-hidden="true"></i>
            <img class="logo" src="../../assets/images/logooficial.png" alt="logo">
            </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse container" id="bs-example-navbar-collapse-1">
              <form class="">
                <div class="">
                  <div class="row search col-md-6 col-md-push-1 logo">
                    <div class="form-group has-success has-feedback ">
                      <div class="input-group">
                        <span class="input-group-addon none">
                            <i class="fa fa-search" aria-hidden="true"></i>
                          </span>
                        <input type="text" class="form-control transparent border-white" id="inputGroups" placeholder="Find Movies, Behind the scenes and more..." aria-describedby="inputGroupSuccess1Status">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- </div> -->
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <button type="button" class="btn transparent logo" name="button">PREMIUM</button>
                </li>
                <li>
                  <a href="../live/index.html"><i class="fa fa-bell-o logo white" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="circle logo">
                  <a href="../live/index.html">
                    <div class="logo">
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <!-- <div class="container-fluid">
        <div class="row col-md-12"> -->

      <!-- <section class="black info logo col-md-7">
            <h1 id="title-movie" class="title-movie white"></h1>
            <h4 id="tagline-movie" class="white"></h4>
            <p id='plot-movie' class="white"></p>
            <p id='genero-movie' class="white"></p>
            <p id='runtime-movie' class="white"></p>
            <p id="year-movie" class="white"></p>


          </section>
          <div class="portada col-md-5 col-md-push-0">
            <img class="img-responsive" src="../../assets/images/1.jpg" alt="">
          </div>
          <section class="">
            <ul class="local-menu col-md-8 col-md-push-3">
              <li><a href="#" class="filters" id="behind">Behind The Scenes</a></li>
              <li><a href="#" class="filters" id="top-scenes">Top Scenes</a>
              </li>
              <li><a href="#" class="filters" id="cast">Cast</a>
              </li>
              <li> <a href="#" class="filters" id="review">Review</a>
              </li>
              <li> <a href="#" class="filters" id="extra">Extra</a>
              </li>
            </ul>
          </section> -->

      <div class="container-fluid background-1">
        <div class="row overlay">
          <section class="black info logo col-md-7">
            <h1 id="title-movie" class="title-movie white"></h1>
            <h4 id="tagline-movie" class="white"></h4>
            <p id='plot-movie' class="white"></p>
            <p id='genero-movie' class="white"></p>
            <p id='runtime-movie' class="white"></p>
            <p id="year-movie" class="white"></p>


          </section>
          <div class="portada col-md-4 col-md-push-0">
            <img class="img-responsive" src="../../assets/images/1.jpg" alt="">
          </div>
          <section class="">
            <ul class="local-menu col-md-8 col-md-push-3">
              <li><a href="#" class="filters" id="behind">Behind The Scenes</a></li>
              <li><a href="#" class="filters" id="top-scenes">Top Scenes</a>
              </li>
              <li><a href="#" class="filters" id="cast">Cast</a>
              </li>
              <li> <a href="#" class="filters" id="review">Review</a>
              </li>
              <li> <a href="#" class="filters" id="extra">Extra</a>
              </li>
            </ul>

            <div id="main-container-videos" class="row">
            </div>
            <ul id="cast-container" class="col-md-12">
            </ul>
            <div id="director-container">
            </div>
          </section>

        </div>
      </div>
    </div>
   </div>

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="../../js/app.js"></script>
  <script src="https://apis.google.com/js/api.js"></script>
</body>

</html>
